@model IEnumerable<Cons.ServiceReference1.CityModel>

@{
    ViewBag.Title = "MostrarTodos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-success" style="margin-bottom:20px; width:10%;margin-left: 90%; margin-top:20px" href="/City/Crear">Nuevo</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.countryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.countryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_update)
            </td>
            <td>
                <a class="btn btn-warning" href="/City/Modificar?id=@item.cityId">Modificar</a>
                <a class="btn btn-danger" href="/City/Eliminar?id=@item.cityId">Eliminar</a>
            </td>
        </tr>
    }

</table>
